html {
    font-family: 'Raleway';
    font-weight: 400;
}

h1 {
    text-align: center;
    color: #444444;
    font-family: 'Raleway';
}

h2.name {
    color: #444444;
    font-family: 'Raleway';
    font-weight: 700;
    padding-bottom: -5px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 35px
}

.thumbnail {
    background-color: #fbfbfb;
    border: #444444 solid 0px;
    /* width: 90%; */
    text-align: center;
    border-radius: 15px;
    box-shadow: -3px 3px 10px 0px rgba(68,68,68,0.48), 1px -1px 3px 0px rgba(68,68,68,0.28);
        -webkit-box-shadow: -3px 3px 10px 0px rgba(68,68,68,0.48), 1px -1px 3px 0px rgba(68,68,68,0.28);
        -moz-box-shadow: -3px 3px 10px 0px rgba(68,68,68,0.48), 1px -1px 3px 0px rgba(68,68,68,0.28);
}
