html {
    font-family: 'Raleway';
    font-weight: 400;
}

#bootstrap-override h2 {
  color: #444444;
}

#bootstrap-override hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));}

.caption h3 {
  text-transform: lowercase;
  color: #444444;
}

.thumbnail {
    background-color: #fbfbfb;
    border: #444444 solid 0px;
    /* width: 90%; */
    text-align: center;
    border-radius: 15px;
    box-shadow: -3px 3px 10px 0px rgba(68,68,68,0.48), 1px -1px 3px 0px rgba(68,68,68,0.28);
        -webkit-box-shadow: -3px 3px 10px 0px rgba(68,68,68,0.48), 1px -1px 3px 0px rgba(68,68,68,0.28);
        -moz-box-shadow: -3px 3px 10px 0px rgba(68,68,68,0.48), 1px -1px 3px 0px rgba(68,68,68,0.28);
}
